.container {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: var(--space-3);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
}
.col {
  flex: 1 1 0;
}

/* responsive helper */
@media (min-width: var(--bp-md)) {
  .col-md-6 {
    flex: 0 0 50%;
  }
}

/* spacing helpers (example) */
.mt-1 {
  margin-top: var(--space-1);
}

.mb-3 {
  margin-bottom: var(--space-3);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 150px;
  position: relative;
}
/* 
---------------------------------------------------------------------------
Styles 
--------------------------------------------------------------------------
*/
#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient-text {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  align-items: center;
}

.social-list img,
.social-list ul {
  width: 31px;
  height: 31px;
  display: block;
}
/*
timeline
*/
.timeline {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.timeline .line-gray {
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  width: 4px;
  background: #bfa8d4;
  height: 100%;
  border-radius: 10px;
}
.timeline .line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 0; /* animado con GSAP */
  background: var(--gradient-secondary);
  transform: translateX(-50%);
  border-radius: 10px;
}

.timeline-icon {
  position: absolute;
  top:50%;
   filter: grayscale(1) blur(1px);
}
.left .timeline-icon {
  transform: translateX(50%);
}
.right .timeline-icon {
  transform: translateX(-50%);
}

.event {
  display: flex;
  position: relative;
  width: 50%;
  margin: 100px 0;
}

.event.left {
  left: 0;
  justify-content: end;
}

.event.right {
  left: 50%;
  justify-content: start;
}
.timeline-card {
  background: var(--color-surface);
  padding: 30px 20px;
  border-radius: 10px;
  max-width: 700px;
  opacity: 0; /* GSAP */
  filter: blur(10px); /* GSAP */
  margin: 0 8rem;
}

.activities {
  list-style: none; /* ocultar bullets */
  padding: 0 30px 0 20px;
}

.activities li:not(li:last-child) {
  margin-bottom: 10px;
}
.activities li {
  position: relative;
  padding-left: 30px; /* espacio para el icono */
  font-size: var(--fs-2);
  line-clamp: 3;
}

.activities li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  background-image: url("/assets/icons/checkMark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.tech-stack {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0 0 0 20px;
}
.tech-stack li {
  background-color: var(--color-secondary);
  border-radius: var(--radius-lg);
  padding: 5px 10px;
  color: var(--color-on-primary);
  font-weight: 500;
  text-transform: capitalize;
}

.social-media {
  position: sticky;
  left: 0;
  /* transform: translateY(-50%); */
  bottom: 50%;
  width: fit-content;
  background-color: var(--color-on-primary);
  padding: 20px;
  border-radius: 0 20px 20px 0;
}
.social-media ul {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--color-surface);
}
.m-auto {
  margin: auto;
}
footer p {
  color: var(--color-muted);
}
footer ul.navbar {
  display: flex;
  gap: 3rem;
  list-style: none;
}
footer ul.navbar a:hover {
  color: var(--color-primary);
}
footer ul.navbar a {
  font-size: var(--fs-2);
  color: var(--color-muted);
  text-decoration: none;
}
footer .social-list img {
  filter: brightness(0.3);
}
footer .social-list img:hover {
  filter: brightness(1);
}
  .progress-container {
    width: 100%;
    height: 10px;
    background: #333;
    border-radius: 15px;
    overflow: hidden;
  }

  .progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #6800F9 0%, #A805D0 100%);
    border-radius: 15px;
  }