.container {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: var(--space-3);
}


.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
}
.col {
  flex: 1 1 0;
}

/* responsive helper */
@media (min-width: var(--bp-md)) {
  .col-md-6 {
    flex: 0 0 50%;
  }
}

/* spacing helpers (example) */
.mt-1 {
  margin-top: var(--space-1);
}
.mt-2 {
  margin-top: var(--space-2);
}
.mb-3 {
  margin-bottom: var(--space-3);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
/* 
---------------------------------------------------------------------------
Styles 
--------------------------------------------------------------------------
*/

.gradient-text {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  align-items: center;
}

.social-list img {
  width: 31px;
  height: 31px;
  display: block;
}
/*
timeline
*/
.timeline {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
}

.timeline .line,
.timeline .line-gray {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  background: #bfa8d4;
  height: 100%;
  border-radius: 10px;
}
.timeline .line,
.timeline .line-gray {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 0; /* animado con GSAP */
  background: #a855f7;
  transform: translateX(-50%);
  border-radius: 10px;
}

.timeline-icon {
  /* position: absolute;
  left: 50%;
  top: 150px;
  transform: translateX(-50%); */
  /* opacity: 0; */
}

.event {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 50%;
  margin: 100px 0;
  opacity: 0; /* GSAP */
  filter: blur(10px); /* GSAP */
}

.event.left {
  left: 0;
}

.event.right {
  left: 50%;
}
.timeline-card {
  background: var(--color-surface);
  padding: 30px 20px;
  border-radius: 10px;
  max-width: 500px;
}


.activities {
  list-style: none; /* ocultar bullets */
  padding: 0 30px 0 20px;
}

.activities li:not(li:last-child) {
  margin-bottom: 10px;
}
.activities li {
  position: relative;
  padding-left: 30px; /* espacio para el icono */
  font-size: var(--fs-2);

}

.activities li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  background-image: url("/assets/icons/checkMark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.tech-stack{
  display: flex;
  gap:10px;
  list-style:none;
  padding: 0 0 0 20px;

}
.tech-stack li{
  background-color: var(--color-secondary);
  border-radius: var(--radius-lg);
  padding: 5px 10px;
  color: var(--color-on-primary);
  font-weight: 500;
  text-transform: capitalize;
}