.text-center {
  text-align: center;
}
.text-muted {
  color: var(--color-muted);
}
.hidden {
  display: none !important;
}
.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.justify-center {
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.flex-2 {
  flex: 1 1 calc(50% - 20px);
}
.flex-3 {
  flex: 1 1 calc(33.33% - 50px);
  max-width: 33.33%;
}
.flex-6 {
  flex: 1 1 calc(16.6% - 30px);
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-50 {
  gap: 50px;
}
.flex {
  display: flex;
}
.p-4 {
  padding: var(--space-4);
}
.m-0{
  margin:0;
}
.items-center{
  align-items: center;
}
.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 2rem;
}
.mt-3{
  margin-top: 3rem;
}
.shadow{
  box-shadow: 0px 4px 4px 0px #0E1926;
}
.clamp-3 , .clamp-2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.clamp-3{
  -webkit-line-clamp: 3; 

}
.clamp-2 {
  -webkit-line-clamp: 2; 
}


/* 
responsive
*//* Mobile small (0–480px) */
@media (max-width: 480px) { }

/* Mobile medium (481–640px) */
@media (min-width: 481px) and (max-width: 640px) { }

/* Mobile large (641–768px) */
@media (min-width: 641px) and (max-width: 768px) { }

/* Tablets (769–1024px) */
@media (min-width: 769px) and (max-width: 1024px) { }

/* Laptop (1025–1280px) */
@media (min-width: 1025px) and (max-width: 1280px) { }

/* Desktop (1281–1536px) */
@media (min-width: 1281px) and (max-width: 1536px) { }

/* Full HD (1537–1920px) */
@media (min-width: 1537px) and (max-width: 1920px) { }

/* Ultra Wide (1921px+) */
@media (min-width: 1921px) { }
