.text-center {
  text-align: center;
}
.text-muted {
  color: var(--color-muted);
}
.hidden {
  display: none !important;
}
.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.justify-center {
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.flex-2 {
  flex: 1 1 calc(50% - 20px);
}
.flex-3 {
  flex: 1 1 calc(33.33% - 50px);
  max-width: 33.33%;
}
.flex-6 {
  flex: 1 1 calc(16.6% - 30px);
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-50 {
  gap: 50px;
}
.flex {
  display: flex;
}
.p-4 {
  padding: var(--space-4);
}
.m-0{
  margin:0;
}
.items-center{
  align-items: center;
}
.mt-3{
  margin-top: 3rem;
}
.shadow{
  box-shadow: 0px 4px 4px 0px #0E1926;
}
.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* número de líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
}