@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up-fast {
  animation: slideUp 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
.slide-up-slow {
  animation: slideUp 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
.slide-up-slower {
  animation: slideUp 3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.slide-up-slowest {
  animation: slideUp 4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
@keyframes pulse-shadow {
  0% {
    transform: translateY(0px);
    filter: drop-shadow(0 0 10px rgba(19, 19, 236, 0.436));
  }
  50% {
    transform: translateY(-20px) ;
    filter: drop-shadow(0 0 45px rgba(19, 19, 236, 0.526));
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    filter: drop-shadow(0 0 10px  rgba(19, 19, 236, 0.4));
  }
}


.pulse-glow {
  animation: pulse-shadow 4s infinite ease-in-out;
 
}