@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.ttf") format("ttf");
  font-weight: bold;
}
body{
  font-family: "Inter";
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 18px 32px;
  border-radius: 24px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 1;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  height: auto;
  border: unset;
}

.btn-primary {

  color: #fff;
  background-color: #1313ec;
  box-shadow: 1px 1px 20px rgba(19, 19, 236, 0.2);
}

.btn-secondary {
  color: #334155;
  background-color: #fff;
  box-shadow: 1px 1px 20px #0000003d;
}
