@font-face {
  font-family: "Inter-black";
  src: url("/fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
body {
  font-family: "Inter", sans-serif;
}
h2,h1 {
  font-family: "Inter-black", sans-serif;
}
[data-theme="dark"] {
  /* TODO: agregar que el body cambie de theme desde aqui */
  --color-base-content: #fff;
  --color-secondary-content: #94a3b8;
  --color-primary-content: #fff;
  --color-secondary-btn: rgba(255, 255, 255, 0.1);
  --page-scroll-bg: #1d232a;
  --color-blue-200: rgba(19, 19, 236, 0.1);
  --color-blue-500: #1313ec;
  --color-badge-bg: #00d390;

  --color-transparent-bg: rgba(30, 41, 59, 0.7);
}
[data-theme="light"] {
  --color-base-content: #334155;
  --color-secondary-content: #475569;
  --color-primary-content: #0f172a;
  --color-secondary-btn: #ffffff;
  --page-scroll-bg: #fff;
  --color-blue-500: #1313ec;
  --color-blue-200: rgba(19, 19, 236, 0.1);
  --color-badge-bg: #334155;

  --color-transparent-bg: rgba(255, 255, 255, 0.4);
}
.transparent-bg {
  background-color: var(--color-transparent-bg);
  backdrop-filter: blur(10px);
}
.bg-gradient {
  background: linear-gradient(290deg, #9333ea 0%, #1313ec 100%);
  color: #fff;
}
.bg-overlay {
  background-image: url(../assets/yeris_dev_contact_mobile.png);
  background-position: top center;
  background-size: cover;
}
@media (min-width: 768px) {
  .bg-overlay {
    background-image: url(../assets/yeris_dev_contact.png);
  }
}
.timeline-bg {
  background-color: linegradient(
    90deg,
    rgba(19, 19, 236, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.badge-text {
  color: var(--color-badge-bg);
}
.blue-500 {
  color: var(--color-blue-500);
}
.bg-blue-200 {
  background-color: var(--color-blue-200);
}
.btn {
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  padding: 18px 32px;
  border-radius: 24px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 1;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  height: auto;
  border: unset;
}

.btn-primary {
  color: #fff;
  background-color: #1313ec;
  box-shadow: 1px 1px 20px rgba(19, 19, 236, 0.2);
}

.btn-secondary {
  color: var(--color-base-content);
  background-color: var(--color-secondary-btn);
  box-shadow: 1px 1px 20px #0000003d;
}
