.card {
  background: var(--color-surface);
  border-radius: var(--radius-md);
  /* padding: var(--space-4); */
  box-shadow: var(--shadow-sm);
  color: inherit;
  display: flex;
  /* justify-content: center;
  flex-direction: column; */
}
li.card {
  list-style: none;
}
/* modifiers */
.card--elevated {
  box-shadow: var(--shadow-md);
}
.card__title {
  font-size: var(--fs-3);
  margin-bottom: var(--space-2);
  color: #0f172a;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  flex: 1;
  justify-content: center;
}


.skill-card img {
  height: 32px;
  width: 32px;
}
.about-me-card img,
.skill-card img {
  margin: auto;
}
.about-me-card img {
  width: 40px;
  height: 40px;
}
