.card {
  background: var(--color-surface);
  border-radius: var(--radius-md);
  box-shadow: 0px 4px 10px 4px #0e1926;

  color: inherit;
  display: flex;
}
.card-body a{
  color: gray;
  text-decoration: none;
}
.card-body p{
  font-size: 14px;
}
.card-body {
  padding: 30px 20px 20px;
}

.project-links {
  width: 100%;
  display: flex;
  justify-content: space-around;

  position: absolute;
  opacity: 0;
  left: 0;
  top:80%;
  transform: translate(0,0);
  transition: transform 2s ease, opacity 0.5s ease;
}
.project-links a:first-child {
  color: var(--color-on-secondary);

  background-color: var(--color-on-primary);

}
.project-links a:last-child {
  background-color: var(--color-on-secondary);
  color: var(--color-on-primary);


}
.project-links a img{
  width: 18px;
  height: 18px;
}
.project-links a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 14px;
  border-radius: var(--radius-md);
  font-size: 16px;
  font-size: var(--fs-2);
  font-weight: bold;
}
.card-image img{
width: 100%;
border-radius: 12px;
}
.card-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.project-card{
  cursor: pointer;
}
.project-card:hover .project-links {
  opacity: 1;
  top:60%;
  transform: translate(0, -50%);
}
.project-card:hover .card-image::before {
  opacity: 1;
}
.card-image::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
  background-color: rgba(20, 2, 45, 0.7);
  opacity: 0;
}
li.card {
  list-style: none;
}
/* modifiers */
.card--elevated {
  box-shadow: var(--shadow-md);
}
.card__title {
  font-size: var(--fs-3);
  margin-bottom: var(--space-2);
  color: #0f172a;
}

#projects .card-container {
   display: flex;
 flex-wrap: wrap;
  /* padding: 0; */
  /* flex: 1;
  justify-content: center; */
  
}

.skill-card img {
  height: 32px;
  width: 32px;
}
#about-container .swiper-slide{
  padding: 1rem;
}
.about-me-card{
  flex-direction: column;
}
.about-me-card img,
.skill-card img {
  margin: auto;
}
.about-me-card img {
  width: 40px;
  height: 40px;
}

.project-tech {
  list-style: none;
  display: inline-flex;
  gap: 10px;
  padding: 0;
  margin: 0in;
  flex-wrap: wrap;
}
.project-tech li img{
  width: 15px;
  height: 15px;
}
.project-tech li{
  gap:5px;
  align-items: center;
  display: inline-flex;
  background-color: var(--color-success);
  padding: 4.5px 10px;
  border-radius: 50px;
  color: var(--color-on-secondary);
  font-size: 10px;
  
}